@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
.rdw-editor-wrapper {
  text-align: left !important;
  direction: ltr !important;
}

/* Pastikan editor memiliki tinggi yang cukup */
.demo-editor {
  min-height: 200px;
}